.container {
  padding-top: 80px;
}
.section {
  transform: scale(1.1);

  width: 100%;
  height: 95vh;
  // max-height: 900px;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  &_content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    height: 100%;
  }
  &_content4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    height: 100%;
  }
  &_title {
    margin-bottom: 15px;
    font-size: 32px;
    color: white;
    letter-spacing: 5px; 
    span {
      margin: 0 30px;
    }
  }
  &_desc {
    margin-bottom: 15px;
    font-size: 20px;
    color: white; 
  }
  &_desc2 {
    font-size: 20px;
    color: white; 
  }

  .section_email_wrapper {
    padding-top: 30px;
    p {
      font-size: 18px;
      text-align: center;
      color: white;
      line-height: 16px;

    }
    &_a {
      padding-top: 30px;
      a {
        margin: 0 15px;
        padding: 10px 30px;
        font-size: 16px;
        color: white;
        border: 1px solid white;
        border-radius: 8px;
      }
    }
  }
  .section_email {
    margin-bottom: 15px;
    font-size: 20px;
    color: white;
    text-align: center;
    letter-spacing: 3px;
  }
  .section_typ2 {
    display: flex;
    font-size: 20px;
    color: white;
    &_item {
      margin-right: 100px;
    }
  }
}

.slogan {
  height: 200px;
}
.wechat {
  margin-top: 30px;
  height: 100px;
}
.desc {
  margin-top: 5px;
  font-size: 16px;
  color: white;
}
.section_team {
  padding-bottom: 100px;
  width: 100%;
  background-color: #ededed;
  &_title {
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;

  }
  &_content {
    position: relative;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    height: 500px;

    &_bg {
      position: absolute;
      z-index: 1;
      left: 50%;
      transform: translate(-50%);
      height: 100%;
    }
    &_scroll {
      position: relative;
      margin: 0 auto;
      padding: 0 30px;
      width: 100%;
      height: 500px;
      white-space: nowrap;
      overflow: hidden;
      overflow-x: scroll;
    }
    &_item {
      position: relative;
      z-index: 10;
      display: inline-block;
      margin-right: 30px;
      &:first-child {
        top: 300px;
      }
      &:nth-child(2n) {
        top: 30px;
      }
      &:nth-child(3n) {
        top: 180px;
      }
      &:nth-child(4n) {
        top: 300px;
      }
      &_avatar {
        width: 150px;
        height: 150px;
        background-color: rgba(0, 0, 0, 0.1);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: all .5s;
        cursor: pointer;
        &:hover {
          transform: scale(1.2);
        };
      }
      p {
        font-size: 14px;
        line-height: 40px;
      }
    }
  }
}

.modal_container {
  display: flex;
  width: 100%;
  height: 100%;
  .modal_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #66AEC6;
    &_avatar {
      width: 150px;
      height: 150px;
      background-color: rgba(0, 0, 0, 0.1);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    &_name {
      margin-top: 30px;
      font-size: 30px;
      color: white;
    }
    &_role {
      margin-top: -5px;
      font-size: 16px;
      color: white;

    }
  }
  .modal_right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 150px;
    font-size: 20px;
    overflow: hidden;
    overflow-y: scroll;
    &_desc {
      margin-bottom: 30px;
    }
  }
}
.animation {
  animation: backInUp 1.2s ease forwards;
}

.animation_zoom {
  animation: zoom 1.2s ease forwards;
}
@keyframes backInUp {
  0% {
    transform: translateY(50px);
    opacity: 0.7;
  }

  80% {
    transform: translateY(0px);
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@keyframes zoom {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 769px) {
  .container{
    padding-top: 50px;
  }
}