.container {
  padding-top: 80px;
}
.section {
  width: 100%;
  height: 85vh;
  max-height: 900px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  &_content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    height: 100%;
  }
  &_content4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    height: 100%;
  }
  &_title {
    margin-bottom: 15px;
    font-size: 50px;
    color: white;
    font-weight: 200;
    letter-spacing: 5px;
    span {
      margin: 0 30px;
    }
  }
  &_desc {
    margin-bottom: 15px;
    font-size: 20px;
    color: white;
    font-weight: 200;
  }
  &_desc2 {
    font-size: 20px;
    color: white;
    font-weight: 200;
  }

  .section_email_wrapper {
    padding-top: 80px;
  }
  .section_email {
    margin-bottom: 15px;
    font-size: 20px;
    color: white;
    // font-weight: 200;
    text-align: center;
    letter-spacing: 3px;
  }
  .section_typ2 {
    display: flex;
    font-size: 20px;
    color: white;
    font-weight: 200;
    &_item {
      margin-right: 100px;
    }
  }
}
