.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  backdrop-filter: saturate(180%) blur(6px);
  background-color: rgba(255, 255, 255, 0.6);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    height: 100%;
    .logo {
      height: 40px;
    }
    .wraper {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      .link {
        font-size: 18px;
        margin-left: 100px;
        color: black;
        &:hover {
          font-weight: bold;
        }
        &_active {
          font-weight: bold;
          font-size: 18px;
          margin-left: 100px;
          color: black;
        }
      }
    }
  }
}
